
body {
  margin: 0 auto;
  background-color: white(1, 126, 42);
  font-family: 'Nanum Brush Script', cursive;
}

/* Page Dico */

.dico, .conteneur, .apropos{
  width:60%;
  margin:0 auto;
  text-align: center;
  color: rgb(61, 61, 61);
  font-size: 2rem;

}
.citation{
  list-style: none;
  display: flex;
  flex-direction: column;
}

.citation p {
  margin: 10px 0;
}

ul{
  padding:0;
}

hr {
  color:transparent;
  border : rgb(61, 61, 61) solid 1px;
  margin: 2vw auto;
}

.citation-txt, .citation-auteur {
  color: rgb(61, 61, 61);
  margin: 2vw 0 ;
}

.citation-txt {
  font-style: italic;
}

.citation-auteur {
  align-self: end;
}

.citation-btn {
  display: flex;
  justify-content: space-evenly;
}

.btn-modif, .btn-suppr {
  display: flex;
  align-content: center;
  padding: 5px;
  
  font-size: 3rem;
  color: white;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
}

.btn-suppr {
  background-color: rgb(212, 1, 1);
  box-shadow: rgb(212, 1, 1) 0px 0px 5px;
}

.btn-modif {
  background-color: rgb(28, 158, 2);
  box-shadow: rgb(28, 158, 2) 0px 0px 5px;
}

.btn-generateur {
  padding: 15px;
  margin-bottom: 40px;
  border: none;
  border-radius: 15px;
  background-color: orange;
  box-shadow: orange 0px 0px 15px;
  font-size: 2rem;
}

/* .btn-valid {
  color:rgb(1, 126, 42);
} */

button svg {
  padding: 4px;
  padding-top: 6px;
}

/* sidebar Nav */

.navBar {
  position: relative;
  font-size: 2rem;
}

.navBar button {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 10;
  cursor: pointer;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: rgb(53, 53, 53);
  box-shadow: black 0 0 10px;
  margin: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.menuNav.showMenu {
  width: 100%;
}

a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: orange;
  text-transform: uppercase;
  font-weight: bold;
}

.menuNav li:first-child {
  margin-top: 7rem;
}
